{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<body>
    {% block content %}
        
           <!-- Modal Search Start -->
        <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex align-items-center">
                        <form action="{% url 'category' %}" method="GET" class="input-group w-75 mx-auto d-flex">
                            <label>
                                <input type="search" name="q" class="form-control p-3" placeholder="Enter product name" aria-describedby="search-icon-1">
                            </label>
                            <button type="submit" id="search-icon-1" class="input-group-text p-3">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Search End -->
        
        

    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">Shop</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'category' %}">Shop</a></li>
            {% if category %}
            <li class="breadcrumb-item active text-white">{{ category.name }}</li>
            {% endif %}
        </ol>
    </div>
    <!-- Single Page Header End -->
        
        <!-- Fruits Shop Start-->
        <div class="container-fluid fruite py-5">
            <div class="container py-5">
                <h1 class="mb-4">Fresh fruits shop</h1>
                <div class="row g-4">
                    <div class="col-lg-12">
                        <div class="row g-4">
                            <div class="col-xl-3">
                                <div class="input-group w-100 mx-auto d-flex">
                                    <form action="{% url 'category' %}" method="get" class="d-flex">
                                        <label>
                                            <input type="search" class="form-control p-3"  name="search_bar" placeholder="keywords" aria-describedby="search-icon-1">
                                        </label>
                                        <button id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-6"></div>
                            <div class="col-xl-3">
                                <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                                    <label for="sort">Sorting:</label>
                                    <form id="sortform" method="get">
                                    <select id="sort" name="sort" class="border-0 form-select-sm bg-light me-3" onchange="this.form.submit()">
                                        <option value="volvo">Select</option>
                                        <option value="price_asc">Price: Low To High</option>
                                        <option value="price_desc">Price: High To Low</option>
                                        <option value="newest">Newest</option>
                                    </select>
                                    </form>
                                </div>
                            </div>
                        </div>
        

    <!-- Shop Content Start -->
    <div class="container-fluid fruite py-5">
        <div class="container py-5">
            <h1 class="mb-4">Shop</h1>
            <div class="row g-4">
                <div class="col-lg-3">
                    <div class="mb-3">
                        <h4>Categories</h4>
                        <ul class="list-unstyled fruite-categorie">
                        {% if category.parent == None %}
                            {% for parent_category in child_categories %}
                            <li>
                                <div class="d-flex justify-content-between fruite-name">
                                    <a href="{% url 'category_listing' slug=parent_category.slug %}">
                                        <i class="fas fa-apple-alt me-2"></i>{{ parent_category.name }}
                                    </a>
                                </div>
                            </li>
                            {% endfor %}
                        {% else %}
                            {% for category in categories %}
                                {% if category.parent == None %}
                                    <li>
                                <div class="d-flex justify-content-between fruite-name">
                                    <a href="{% url 'category_listing' slug=category.slug %}">
                                        <i class="fas fa-apple-alt me-2"></i>{{ category.name }}
                                    </a>
                                </div>
                                {% endif %}
                            {% endfor %}
                            </li>
                        {% endif %}
                        </ul>
                    </div>

                    <div class="mb-3">
                        <h4>Tags</h4>
                        {% for tag in tags %}
                        <div class="mb-2">
                            <input type="radio" class="me-2" id="tag-{{ tag.id }}" name="tag" value="{{ tag.name }}">
                            <label for="tag-{{ tag.id }}">{{ tag.name }}</label>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="mb-3">
                        <h4 class="mb-2">Price</h4>
                        <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput" min="0" max="500" value="0" oninput="amount.value=rangeInput.value">
                        <output id="amount" name="amount" for="rangeInput">0</output>
                    </div>
                    <div class="d-flex justify-content-center my-4">
                        <button type="button" id="filterButton" class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">Filter</button>
                    </div>

                </div>

                <div class="col-lg-9">
                    <div class="row g-4 justify-content-center">
                        {% for product in products %}
                            <div class="col-md-6 col-lg-6 col-xl-4">
                            <div class="rounded position-relative fruite-item">
                            <div class="fruite-img">
                        <img src="{{ product.image.url }}" class="img-fluid w-100 rounded-top" alt="{{ product.name }}">
                            </div>
                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">
                            {{ product.category.name }}
                             </div>
                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                        <h4>{{ product.name }}</h4>
                        <p>{{ product.description }}</p>
                        <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">${{ product.price }} / kg</p>
                        <form method="post" action="{% url 'cart' %}">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <input type="hidden" name="action" value="add">
                            <label>
                                <input type="number" name="quantity" value="1" min="1" class="form-control d-inline w-auto mb-2">
                            </label>
                            <button type="submit" class="btn border border-secondary rounded-pill px-3 text-primary">
                                <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                            </button>
                        </form>
                </div>
            </div>
                            </div>
        </div>
                {% endfor %}
                    </div>

                    <div class="pagination d-flex justify-content-center mt-5">
                    {% if page_obj.has_previous %}
                         <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.tag %}&tag={{ request.GET.tag }}{% endif %}{% if request.GET.rangeInput %}&rangeInput={{ request.GET.rangeInput }}{% endif %}" class="rounded">&laquo;</a>
                    {% else %}
                        <a href="#" class="rounded disabled">&laquo;</a>
                    {% endif %}

                    {% for page_num in page_obj.paginator.page_range %}
                        {% if page_num == page_obj.number %}
                             <a href="#" class="active rounded">{{ page_num }}</a>
                        {% else %}
                            <a href="?page={{ page_num }}{% if request.GET.tag %}&tag={{ request.GET.tag }}{% endif %}{% if request.GET.rangeInput %}&rangeInput={{ request.GET.rangeInput }}{% endif %}" class="rounded">{{ page_num }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}{% if request.GET.tag %}&tag={{ request.GET.tag }}{% endif %}{% if request.GET.rangeInput %}&rangeInput={{ request.GET.rangeInput }}{% endif %}" class="rounded">&raquo;</a>
                    {% else %}
                        <a href="#" class="rounded disabled">&raquo;</a>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    document.getElementById('filterButton').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent form submission
        
        // Get the selected tag (if any)
        let selectedTag = document.querySelector('input[name="tag"]:checked');
        let tag = selectedTag ? selectedTag.value : '';

        // Get the selected price range
        let price = document.getElementById('rangeInput').value;

        // Build the URL with query parameters
        let url = new URL(window.location.href);
        url.searchParams.set('tag', tag);  // Set the tag parameter
        url.searchParams.set('rangeInput', price);  // Set the price parameter

        // Redirect to the URL with the new query parameters
        window.location.href = url.toString();
    });
</script>


    {% endblock %}
</body>

</html>
